---
// Simple header with logo in top left
---

<header class="absolute top-0 left-0 z-50 w-full pt-safe">
  <div class="container-lg py-4 sm:py-6">
    <a href="/" class="inline-flex items-center gap-3">
      <img
        src="/images/logo/logo+txt-black.svg"
        alt="Return Signals"
        class="h-6 sm:h-7"
      />
    </a>
  </div>
</header>
