---
// Simple header with logo in top left
---

<header class="absolute top-0 left-0 z-50 w-full pt-safe">
  <div class="container-lg py-6 sm:py-8">
    <a href="/" class="inline-flex items-center gap-3">
      <img src="/images/logo/logo+txt-black.svg" alt="Return Signals" class="h-7 sm:h-8" />
    </a>
  </div>
</header>
